@font-face {
  font-family: 'Chillax';
  src: url('/fonts/Chillax-Variable.woff2') format('woff2-variations'),
       url('/fonts/Chillax-Variable.woff') format('woff');
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}
